about-us5 {
  height: 91px;
  width: 903px;
  position: absolute;
  margin: 0 !important;
  top: 12px;
  left: -326px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefit-of-ai-driven,
.blank-line,
.blank-line1,
.blank-line10,
.blank-line11,
.blank-line12,
.blank-line2,
.blank-line3,
.blank-line4,
.blank-line5,
.blank-line6,
.blank-line7,
.blank-line8,
.blank-line9,
.ignite-your-creativity,
.inspiration-meets-innovation,
.monthly-prompts-and,
.welcome-to-ai-driven {
  margin: 0;
}
.welcome-to-ai-driven-container1 {
  width: 100%;
}
.welcome-to-ai-driven-container {
  width: 1364px;
  height: 765px;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.at-ai-driven-creative,
.blank-line13,
.blank-line14,
.blank-line15,
.blank-line16,
.blank-line17,
.experiment-with-diverse,
.of-their-imagination,
.p,
.power-of-harnessing,
.prompts-writers-of,
.the-writing-experience {
  margin: 0;
}
.about-us-text,
.at-ai-driven-creative-container {
  display: flex;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-26xl);
}
.at-ai-driven-creative-container {
  align-self: stretch;
  height: 406px;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  align-items: center;
  flex-shrink: 0;
  margin-top: -406px;
}
.about-us-text {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sub-frame,
.text-container {
  display: flex;
  flex-direction: row;
}
.sub-frame {
  width: 1444px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 55px;
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.text-container {
  width: 1770px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.about-us,
.about-us-frame {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
}
.about-us {
  position: relative;
  background-color: #35374b;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 177px 0 82px;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-26xl: 45px;

  /* Colors */
  --color-white: #fff;
}