.events-appearances {
  margin: 0;
  font-size: var(--font-size-36xl);
}
.blank-line16 {
  margin: 0;
  font-size: var(--font-size-31xl);
}
.we-love-sharing {
  margin: 0;
}
.events-appearances-container1 {
  width: 100%;
}
.events-appearances-container {
  position: absolute;
  top: 201px;
  left: 36px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 1367px;
  height: 217px;
}
.line-inner {
  align-self: stretch;
  position: relative;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  height: 3px;
}
.line1 {
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 1449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 67px 0;
}
.social-media4 {
  width: 131px;
  position: relative;
  display: inline-block;
  height: 51px;
  flex-shrink: 0;
}
.social-media3 {
  top: 0;
  left: 25px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.resources4,
.resources5,
.social-media3 {
  position: absolute;
  width: 131px;
}
.resources4 {
  top: 0;
  left: 10px;
  height: 70px;
  mix-blend-mode: overlay;
}
.resources5 {
  top: 17px;
  left: 0;
  display: inline-block;
  height: 51px;
}
.down-arrow-1-icon1 {
  position: absolute;
  top: 20px;
  left: 118px;
  width: 21px;
  height: 22px;
  overflow: hidden;
}
.resources3 {
  position: absolute;
  top: 0;
  left: 188px;
  width: 141px;
  height: 70px;
}
.all-topics3 {
  top: 0;
  left: 367px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.about-us3,
.all-topics3,
.profile4 {
  position: absolute;
  width: 131px;
  height: 70px;
  mix-blend-mode: overlay;
}
.about-us3 {
  top: 0;
  left: 538px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.profile4 {
  top: 16px;
  left: 2px;
  background-color: var(--color-gainsboro);
  display: none;
}
.profile3,
.profile5 {
  position: absolute;
  width: 131px;
  height: 51px;
}
.profile5 {
  top: 0;
  left: 0;
  display: inline-block;
}
.profile3 {
  top: 16px;
  left: 709px;
}
.icon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.placeholder1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  z-index: 1;
}
.cursor1 {
  width: 2px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: 43px;
  background-color: var(--color-gray);
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.input1,
.search-bar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input1 {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  position: relative;
  gap: 0 8px;
}
.search-bar1 {
  position: absolute;
  top: 3px;
  left: 1201px;
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 239px;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-base);
  mix-blend-mode: overlay;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightgray);
  font-family: var(--font-source-sans-pro);
}
.frame {
  position: absolute;
  top: 86px;
  left: 0;
  width: 1449px;
  height: 70px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.upcoming-events-stay-container {
  position: absolute;
  top: 13px;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 733px;
  height: 272px;
}
.frame-child,
.frame1 {
  position: absolute;
  height: 490px;
}
.frame-child {
  top: 0;
  left: 739px;
  width: 590px;
  object-fit: cover;
}
.frame1 {
  top: 470px;
  left: 36px;
  width: 1399px;
  overflow: hidden;
  font-size: var(--font-size-31xl);
}
.event {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
