.forgot-password,
.login-rect {
  position: absolute;
  margin: 0 !important;
}
.forgot-password {
  width: 785px;
  height: 85px;
  right: 80px;
  bottom: 315px;
  text-decoration: underline;
  display: inline-block;
  z-index: 1;
}
.login-rect {
  width: 821px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  background-color: var(--color-gainsboro);
  mix-blend-mode: overlay;
}
.login,
.online-courses {
  position: relative;
  z-index: 1;
}
.login {
  width: 785px;
  height: 85px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.online-courses {
  align-self: stretch;
  height: 3px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  margin-top: -20px;
}
.login-text {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 821px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 85px;
  max-width: 100%;
}
.username,
.username-rect {
  position: absolute;
  height: 85px;
  z-index: 1;
}
.username {
  top: 0;
  left: 0;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 785px;
}
.username-rect {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  top: 76px;
  left: 265px;
  border-radius: var(--br-mini);
  width: 722px;
}
.password-input {
  height: 161px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.username-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 27px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.password,
.password1 {
  position: absolute;
  height: 85px;
  z-index: 1;
}
.password {
  top: 0;
  left: 0;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 785px;
}
.password1 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  top: 63px;
  left: 270px;
  border-radius: var(--br-mini);
  width: 722px;
}
.password-parent {
  height: 148px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.login-button,
.login-text-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.login-button {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-17xl) 0 0;
  box-sizing: border-box;
}
.login-text-parent {
  margin: 0;
  flex-direction: column;
  align-items: flex-end;
}
.frame-child {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 302px;
  height: 74px;
  z-index: 1;
}
.login1 {
  position: absolute;
  top: auto 10px;
  left: 17px;
  display: inline-block;
  width: 268px;
  height: 80px;
  z-index: 2;
}
.rectangle-parent {
  height: 89px;
  width: 302px;
  position: relative;
}
.parent-frame-inner {
  width: 225px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.login-page,
.parent-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-inter);
}
.parent-frame {
  width: 1028px;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 60px;
  gap: 123px 0;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: #000;
}
.login-page {
  width: 100%;
  background: linear-gradient(180deg, #123283, rgba(131, 18, 18, 0));
  overflow: hidden;
  justify-content: center;
  padding: 156px var(--padding-xl) 155px;
  letter-spacing: normal;
  font-size: var(--font-size-300px);
  color: var(--color-white);
}
@media screen and (max-width: 1000px) {
  .parent-frame {
    gap: 123px 0;
  }
}
@media screen and (max-width: 975px) {
  .forgot-password {
    font-size: var(--font-size-5xl);
  }
  .login,
  .password,
  .username {
    font-size: var(300px);
  }
  .login1 {
    font-size: 320px;
  }
}
@media screen and (max-width: 725px) {
  .parent-frame {
    gap: 123px 0;
    padding-bottom: 39px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password {
    font-size: 18px;
  }
  .login,
  .password,
  .username {
    font-size: var(--font-size-11xl);
  }
  .login1 {
    font-size: var(--font-size-5xl);
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-36xl: 55px;
  --font-size-26xl: 45px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-darkslategray: #35374b;
  --color-white: #fff;
  --color-whitesmoke: #ebebeb;
  --color-gray-100: #2b2b2b;
  --color-lightgray: #ccc;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-0: 0px;
  --gap-48xl: 67px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-3xs: 10px;
  --br-mini: 15px;
} 