.profile-rect1 {
  position: absolute;
  top: calc(50% - 311px);
  left: calc(50% - 643.5px);
  background-color: var(--color-dimgray);
  width: 100%;
  height: 100%;
  display: none;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #2b2b2b;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-dimgray: rgba(89, 85, 84, 0.33);

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-3xs: 10px;
}
.frame-child {
  position: absolute;
  top: 59px;
  left: 0;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1288px;
  height: 1px;
  z-index: 1;
}
.account-detail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 434px;
  display: inline-block;
  width: 408px;
  z-index: 1;
}
.line-parent {
  position: absolute;
  top: 27px;
  left: 0;
  width: 1287px;
  height: 79px;
  font-size: 40px;
}
.contact-no {
  height: 79px;
  width: 408px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.contact-no-wrapper {
  width: 608px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.full-name-rect {
  border: 2px solid var(--color-black);
  outline: 0;
  background-color: var(--color-gainsboro);
  align-self: stretch;
  height: 57px;
  position: relative;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  min-width: 232px;
  z-index: 2;
}
.contact-rect,
.full-name-rectangle {
  width: 386px;
  box-sizing: border-box;
  max-width: 100%;
}
.full-name-rectangle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.contact-rect {
  border: 2px solid var(--color-black);
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 57px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 2;
}
.full-name-rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  margin-top: -29px;
}
.frame-parent {
  position: absolute;
  top: 103px;
  left: 36px;
  width: 970px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.e-mail-address {
  align-self: stretch;
  height: 79px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.e-mail-address-wrapper {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.gender {
  height: 79px;
  width: 408px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.frame-group {
  width: 961px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.e-mail-rect,
.password-rect {
  border: 2px solid var(--color-black);
  outline: 0;
  background-color: var(--color-gainsboro);
  align-self: stretch;
  height: 57px;
  position: relative;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  min-width: 232px;
  z-index: 2;
}
.email-rect-password-rect,
.social-media-resources-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-rect-password-rect {
  align-self: stretch;
  gap: 84px 0;
}
.social-media-resources-frame {
  width: 386px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 386px;
  max-width: 100%;
}
.male {
  height: 43px;
  width: 215px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.gender-rect1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.group-icon {
  position: absolute;
  top: 19px;
  left: 327px;
  width: 35px;
  height: 21.5px;
  z-index: 3;
}
.gender-rect {
  height: 100%;
  width: 386px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 20px;
  bottom: 0;
}
.full-name-rect-wrapper,
.full-name-rect1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.full-name-rect1 {
  width: 455px;
  align-items: center;
  padding: 8px var(--padding-xl) 6px 0;
  box-sizing: border-box;
  position: relative;
}
.full-name-rect-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.submit-button1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 46px;
  background-color: #0f8eaa;
  width: 246px;
  height: 55px;
  mix-blend-mode: overlay;
  z-index: 2;
}
.submit1 {
  position: absolute;
  top: 11px;
  left: 17px;
  font-size: 25px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 213px;
  height: 62px;
  z-index: 3;
}
.submit-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 246px;
  height: 73px;
  position: relative;
}
.password-rect1 {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 145px 0;
  min-width: 640px;
  max-width: 100%;
}
.submit,
.submit-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.submit {
  width: 1195px;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.submit-frame {
  align-self: stretch;
  justify-content: flex-end;
  margin-top: -33px;
  color: rgba(0, 0, 0, 0.51);
}
.gender-text,
.profile-rect {
  position: absolute;
  max-width: 100%;
}
.gender-text {
  top: 253px;
  left: -65px;
  width: 1276px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-rect {
  top: 265px;
  left: 76px;
  background-color: var(--color-dimgray);
  width: 1287px;
  height: 622px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.full-name,
.password {
  position: absolute;
  top: 371px;
  left: -22px;
  display: inline-block;
  width: 408px;
  height: 79px;
  z-index: 3;
}
.password {
  top: 663px;
}
.resources {
  position: absolute;
  top: 86px;
  left: 198px;
  mix-blend-mode: overlay;
}
.profile1,
.resources,
.social-media1 {
  height: 70px;
  width: 131px;
  display: none;
}
.profile1 {
  position: absolute;
  top: 86px;
  left: 711px;
  background-color: var(--color-gainsboro);
  mix-blend-mode: overlay;
}
.social-media1 {
  position: relative;
}
.social-media2 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.social-media {
  position: absolute;
  top: 0;
  left: 25px;
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xs) var(--padding-10xs) 0;
  box-sizing: border-box;
  mix-blend-mode: overlay;
}
.resources1 {
  position: absolute;
  top: 17px;
  left: 188px;
  display: inline-block;
  width: 131px;
  height: 51px;
  z-index: 1;
}
.down-arrow-1-icon {
  position: absolute;
  top: 20px;
  left: 306px;
  width: 21px;
  height: 22px;
  overflow: hidden;
  z-index: 2;
}
.all-topics1 {
  height: 70px;
  width: 131px;
  position: relative;
  display: none;
  mix-blend-mode: overlay;
}
.all-topics2 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.all-topics {
  position: absolute;
  top: 0;
  left: 367px;
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xs) var(--padding-10xs) 0;
  box-sizing: border-box;
}
.about-us1 {
  height: 70px;
  width: 131px;
  position: relative;
  display: none;
  mix-blend-mode: overlay;
}
.about-us2 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.about-us {
  position: absolute;
  top: 0;
  left: 538px;
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xs) var(--padding-10xs) 0;
  box-sizing: border-box;
}
.profile2 {
  position: absolute;
  top: 16px;
  left: 709px;
  display: inline-block;
  width: 131px;
  height: 51px;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder {
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-source-sans-pro);
  font-size: 16px;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 1px;
  line-height: 24px;
  color: #ccc;
  text-align: left;
  display: flex;
  align-items: center;
}
.cursor1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 2px;
  height: 26px;
  overflow: hidden;
  z-index: 1;
}
.cursor {
  height: 26px;
  flex: 1;
  position: relative;
}
.input {
  flex: 1;
  border-radius: 100px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) 13px var(--padding-6xs) 11px;
  gap: 0 7px;
}
.cursor-line,
.search-bar1 {
  position: absolute;
  box-sizing: border-box;
}
.search-bar1 {
  top: 3px;
  left: 1201px;
  border-bottom: 1px solid #ebebeb;
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-xs) 24px var(--padding-xs) 32px;
  mix-blend-mode: overlay;
}
.cursor-line {
  top: 70px;
  left: 0;
  border-top: 3px solid var(--color-white);
  width: 1443px;
  height: 3px;
  z-index: 2;
}
.search-bar {
  position: absolute;
  top: 86px;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.input-frame {
  position: absolute;
  top: 88.5px;
  left: 0;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1452px;
  height: 3px;
  z-index: 2;
}
.profile {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: #35374b;
  overflow: hidden;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .password-rect1,
  .social-media-resources-frame {
    flex: 1;
  }
  .submit {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .account-detail {
    font-size: 32px;
  }
  .contact-no {
    font-size: var(--font-size-5xl);
  }
  .full-name-rectangle-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .e-mail-address,
  .gender {
    font-size: var(--font-size-5xl);
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .male {
    font-size: var(--font-size-5xl);
  }
  .profile-rect {
    height: auto;
    min-height: 622;
  }
  .full-name,
  .password {
    font-size: var(--font-size-5xl);
  }
  .profile {
    height: auto;
    min-height: 1024;
  }
}
@media screen and (max-width: 725px) {
  .password-rect1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .account-detail {
    font-size: var(--font-size-5xl);
  }
  .contact-no,
  .e-mail-address,
  .gender {
    font-size: var(--font-size-lg);
  }
  .social-media-resources-frame {
    min-width: 100%;
  }
  .male {
    font-size: var(--font-size-lg);
  }
  .submit1 {
    font-size: var(--font-size-xl);
  }
  .full-name,
  .password {
    font-size: var(--font-size-lg);
  }
}

Home
Lightning
Selected frames (1)
All frames are ready

Profile

Lightning code conversion completed for
