.register-rect {
  position: absolute;
  top: 156px;
  left: 323px;
  border-radius: 40px;
  background-color: var(--color-gainsboro);
  width: 821px;
  height: 713px;
  mix-blend-mode: overlay;
}
.register1 {
  position: absolute;
  top: 176px;
  left: 310px;
  display: inline-block;
  width: 785px;
  height: 85px;
}
.username-rect,
.username1 {
  position: absolute;
  height: 85.5px;
}
.username1 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 785px;
}
.username-rect {
  top: 76.5px;
  left: 265px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 722px;
}
.username {
  position: absolute;
  top: 241px;
  left: 108px;
  width: 987px;
  height: 162px;
}
.password3,
.password4 {
  position: absolute;
  height: 86.7px;
}
.password3 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 785px;
}
.password4 {
  top: 64.3px;
  left: 270px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 722px;
}
.password2,
.register-child {
  position: absolute;
  top: 437px;
  left: 103px;
  width: 992px;
  height: 151px;
}
.register-child {
  top: 239.5px;
  left: 321.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 824px;
  height: 3px;
}
.register-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: var(--color-gainsboro);
  width: 302px;
  height: 74px;
}
.register3 {
  position: absolute;
  top: 9px;
  left: 17px;
  display: inline-block;
  width: 268px;
  height: 80px;
}
.register2 {
  position: absolute;
  top: 730px;
  left: 569px;
  width: 302px;
  height: 89px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.register {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #123283, rgba(16, 119, 112, 0));
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-source-sans-pro: "Source Sans Pro";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-6xl: 25px;
    --font-size-31xl: 50px;
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-36xl: 55px;
    --font-size-26xl: 45px;
    --font-size-11xl: 30px;
    --font-size-21xl: 40px;
  
    /* Colors */
    --color-darkslategray: #35374b;
    --color-white: #fff;
    --color-whitesmoke: #ebebeb;
    --color-gray-100: #2b2b2b;
    --color-lightgray: #ccc;
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
  
    /* Gaps */
    --gap-0: 0px;
    --gap-48xl: 67px;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-5xs: 8px;
    --padding-base: 16px;
    --padding-xs: 12px;
    --padding-10xs: 3px;
  
    /* Border radiuses */
    --br-81xl: 100px;
    --br-3xs: 10px;
    --br-mini: 15px;
  }
  